body{
  position: relative;
  width: 375px;
  height: 708px;
  background: #FFFFFF;  
  margin: 0 auto;  
  font-style: 'Roboto Condensed';
}

.container{
  width: 375px;
  height: 708px;
  /* background-color: limegreen; */
}

.button__back {
  position: absolute;
  width: 35px;
  height: 38px;
  left: 0px;
  top: 0px;
  background-image: url("./images/backButton.svg");
  border: 0;
}

.backButton:active, .backButton:hover, .backButton:focus {
  outline: 0;
  outline-offset: 0;
}

.block__text-like{
  position: absolute;
  width: 259px;             
  height: 64px;
  left: 66px;
  top: 26px;

  /*background-color: maroon;*/
}

.text__gold{                   
  /*position: absolute;*/
  width: 224px;
  height: 33px;
  left: 66px;
  top: 26px;

  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 32px;
  color: #252C3B;  
}

.text__fruit{                     
  width: 184px;
  height: 11px;
  left: 66px;
  top: 79px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  color: #596273;
  margin-top: 20px;
}

.button__heart{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 303px;
  top: 44px;
  background-image: url("./images/heartButton.svg");
  border: 0;
  border-radius: 50%;
  display: block;
}

.button__heart:focus {
  outline: none;
}

.restangle__center{
  position: absolute;
  width: 230px;
  height: 289px;
  left: 73px;
  top: 146px;
  background: #F6F6F8;
  border-radius: 14px;
  background-image: url("./images/rectangle.svg");  
}

.image__center{
  position: absolute;
  width: 194px;
  height: 289px;
  left: 90px;
  top: 146px;
  background: url("./images/imgMed1.svg") center no-repeat;
}
.restangle__left{
  position: absolute;
  width: 57px;
  height: 289px;
  left: 0;
  top: 129px;  
  background: #F6F6F8;
  border-radius: 0 14px 14px 0;
  background-image: url("./images/rectangle.svg");  
}

.block__restangle__left {
  display: block;
  position: absolute;
  width: 57px;
  height: 289px;  
  top: 128px;    
  border-radius: 0 14px 14px 0;    
}

.image__left{
  margin: 0;
  height: 289px;
  background: url("./images/image-left.svg") no-repeat;
  border-radius: 0 14px 14px 0; 
} 

.restangle__right{
  position: absolute;
  width: 57px;
  height: 289px;
  left: 319px;
  top: 129px;
  background: #F6F6F8;
  border-radius: 14px 0 0 14px;
  background-image: url("./images/rectangle.svg");
}

.block__restangle__right{
  display: block;
  position: absolute;
  width: 57px;
  height: 289px;
  left: 319px;
  top: 129px;
  border-radius: 14px 0 0 14px;    
}

.image__ringht{
  width: 57px;
  height: 289px;
  background-image: url("./images/image-r.svg");
  border-radius: 14px 0 0 14px;  
}

.stiker__is-good{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 281px;
  top: 164px;
  background: url("./images/good.svg");
}

.input__quantity{                 /*что бы не прыгало, добавить бутылку*/
  position: absolute;
  width: 217px;
  height: 53px;
  left: 79px;
  top: 459px;
  background: #F6F6F8;
  border-radius: 33px; 
  border: 0; 
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;  
  line-height: 12px;  
  transition: all .3s;     
  text-indent: 29px;
}

.input__quantity:hover, .input__quantity:focus{
  border: 2px solid #00EAB2;
  outline:none;           
}

.price {
  position: absolute;
  width: 108px;
  height: 33px;
  left: 133px;
  top: 548px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 32px;  
  color: #252C3B;
}

.button__purchase{                    
  position: absolute;
  width: 219px;
  height: 49px;
  left: 78px;
  top: 613px;
  background: #FF416E;
  border-radius: 8px;
  border: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: #FFFFFF;
}

.button__purchase:focus {
  outline: none;
}

.text__below{
  position: absolute;
  width: 168px;
  height: 10px;
  left: 96px;
  top: 676px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  color: #8F98A8;
}