body{  
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;   
  margin: 0;
  padding: 0;  
  background-color: #ccc;
}
*, *::after, *::before {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;  
  width: 375px;
  height: 708px;  
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  position: relative;
  width: 268px;
  height: 64px;  
  margin: 0 auto;
  margin-top: 29px;
}

.carousel{  
  position: relative;
  width: 100%;
  height: 306px;
  margin-top: 36px;
  justify-content: center;
  align-items: flex-end;
}

.gallery{
  position: relative;
  width: 375px;
  height: 100%;
  overflow: hidden;
  /* background-color: brown; */
}

.purchase-vector{
  width: 12px;
  height: 12px;
  margin-left: 7px;
  background: url('../images/indexImages/vector.svg') center no-repeat;
}

.arrow{
  position: absolute;
  display: block;
  width: 72px;
  height: 306px;
  top: 0;
  background-color: transparent;
  outline: none;
  border: 0;
}

.prev{
  left: 0;
}

.next {
  right: 0;
}

.gallery-ul {
  display: flex;
  /* background-color: red; */
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  position: 0;
}

.gallery-block{
  display: inline-block;
  width: 200px;/* 230 */
  height: 289px;
  background: #F6F6F8;
  border-radius: 14px;  
  margin: 0 6.5px;
  align-items: center;
} 

.gallery-img{
  display: block;
  width: 168.34px;
  height: 100%;
  margin: 0 auto;  
}

.like{
  display: block;
  width: 32px;
  height: 32px;
  background: url('../images/indexImages/like.svg');
  margin-top: -273px;
  margin-left: 175px;/* 207 */
}

.input-button{
  display: flex;
  width: 217px;
  height: 53px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 33px;
  background: #F6F6F8;
}

.price{
  width: 108px;
  height: 33px;
  margin: 0 auto;
  margin-top: 36px;
}

.purchase{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 219px;
  height: 74px;
  margin: 0 auto;
  margin-top: 32px;
}

.purchase-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 12px;
}

/* стили для ВТОРОЙ страницы */
.upper-cart{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 375px;
  height: 61px;    /* 61 */
  /* padding-bottom: 11px; */
}

.upper-item-added{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 28px;
  margin-left: 75.5px;
  font-size: 13px;
  line-height: 12px;
  color: #4C5669;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0.5px solid #596273;
}