body{
  width: 800px;
  height: 100%;
  margin: 0 auto;
  background-color: cornflowerblue;
  font-size: 27px;
}

.price{
  width: 150px;
  height: 50px;
  background-color: rgb(231, 177, 177);

}

.vvod{
  width: 150px;
  height: 50px;
}

.start{
  width: 150px;
  height: 50px;
}