.scroll{
  width: 375px;
  height: 408px;
  overflow: scroll;
  margin-top: 11px;
}

.scroll::-webkit-scrollbar{
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: rgb(186, 186, 187);;
}

.rectangle{
  display: flex;
  position: relative;
  margin: 7px 0 0px 12px; 
  width: 351px;
  height: 71px;
  border-radius: 11px;
  background: #F6F6F8;
}

.repeated-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95px;
  height: 31px;
  margin: 17px 26px 0 14.88px;
}

.text-top{
  font-size: 15px;
  line-height: 14px;
  color: #252B35;
}

.text-bottom{
  font-size: 11px;
  line-height: 10px;
  color: #596273;
}

.quantity-price{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 30px;
  margin: 20px 0 0 9px;
  border-radius: 11px;  
  border: 0.5px solid #818A99;
  font-size: 15px;
  line-height: 14px;  
  text-align: center;
  background-color: #F6F6F8;
  outline: none;
  color: #252B35;  
}

.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 28px;
  margin: 20px 0 0 9px;
  border-radius: 11px;  
  border: 0.5px solid #818A99;
  font-size: 15px;
  line-height: 14px;  
  text-align: center;
  background-color: #F6F6F8;
  outline: none;
  color: #252B35; 
 
}
.quantity::-webkit-input-placeholder{
  color: #252B35;  
  
}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.cross{
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  right: 0;
  margin: -6px -5px 0 0;
  border-radius: 50%;
  background: url('../../images/CartScreen/cross.svg') center no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
}

/* изображение для первого блока */
.repeated-img{
  width: 39.64px;
  height: 59.06px;
  margin: 5px 0 0 5.47px;
  border: 2px solid #F6F6F8;
}

.rectangle-total{
  display: flex;  
  width: 351px;
  height: 71px;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 19px;
  margin: 22px 0 50px 12px;
  border-radius: 11px;  
  background: #F6F6F8;
}

.total-top{
  font-size: 20px;
  line-height: 19px;
  color: #000000;
}

.total-bottom{
  font-size: 11px;
  line-height: 10px;
  color: #596273;
}

.total-price{
  font-size: 20px;
  line-height: 19px;
  color: #000000;
}